/*
	@package Fruit Garden
*/
/*
  	----------------------------------------------
  	Import from base
  	----------------------------------------------
*/
@import 'base/fonts';
@import 'base/variabiles';
@import 'base/mixins';
@import 'base/wordpress';
@import 'base/mediaqueries';
/*
	----------------------------------------------
	Generic
	----------------------------------------------
*/
::selection { background: rgba(255,120,0,0.5); }
::-moz-selection { background: rgba(255,120,0,0.5); }
::-webkit-selection { background: rgba(255,120,0,0.5); }
button { 
	&:focus { outline: none;  }   
}
body,
p,
a { font-family: $Comfortaa; 
	&:focus { outline: none;  }
}
h1,
h2,
h3 { font-family: $CherrySwash; }
.fg-title-container { @include pattern-background; @include container-shadow-inset; @include container-shadow; }
.fg-title { font-size: 35px; color: $primaryColor; padding: 90px 0 30px; text-align: center; margin: 0; overflow: hidden;
	span { display: inline-block; position: relative; 
		&:before,
		&:after { content: ""; position: absolute; height: 13px; border-bottom: 1px solid rgba(255, 120, 0, 1); border-top: 1px solid rgba(255, 120, 0, 1); width: 50px; top: 12px; }
		&:before { right: 100%; margin-right: 15px; }
		&:after { left: 100%; margin-left: 15px; }
	}
}
.site-main { height: 300px; @include background-image; }
.generic-container { @include background-image; @include container-shadow; }
.post-edit-link { background: #31b0d5; @include button; color: #fff; padding: 10px 40px; font-size: 15px;
	&:hover { background-color: #269abc; color: #fff; text-decoration: none; }
}
.entry-content { font-size: 20px; padding: 20px; }
.single-content { padding: 20px; 
	p { margin: 0; padding: 20px; font-size: 16px; }
}
.error-404 { color: $primaryColor;
	h1 { margin: 0; padding: 50px; }
	p { margin: 0; font-size: 16px; }
}
.sidebar-title { font-size: 18px; color: #002600; padding: 10px 0 10px; width: 60%; margin: 20px auto 10px; text-align: center; background-color: rgba(255,255,255,0.4); @include homepage-title-shadow; } 
/*
	----------------------------------------------
	Header
	----------------------------------------------
*/
.header-container { @include container-shadow-inset; background-position: center center; background-size: cover; background-repeat: no-repeat; text-align: center; min-height: 0; max-height: 220px;
	.logo { min-height: 0; max-height: 220px; }
}
/*
  	----------------------------------------------
  	Navigation Menu
  	----------------------------------------------
*/
.fg-navbar { margin: 0; text-align: center; border-radius: 0; border: 0; @include container-shadow-inset;
	button { border-color: #ddd; }
	span { background-color: #888; }
	ul { float: none; }
	li { float: none; 
		a { font-family: $Comfortaa; font-size: 18px; color: $primaryColor; padding-top: 23px; padding-bottom: 23px; border-bottom: solid 3px rgba(255, 120, 0, 0.0); text-transform: uppercase; @include animate( color, 0.5s );
			&:focus,
			&:hover,
			&:active { @include animate( all, 0.5s ); background-color: transparent; border-bottom: solid 3px $secondayColor; color: rgba(255, 120, 0, 1); }
		}
		i { position: relative; top: -13px; font-size: 15px; }
	}
	.active {
		a { border-top: solid 3px $secondayColor; background-color: #f8f8f8; }  
	}
}
.fg-content-navbar { position: fixed; z-index: 100; background-color: white; width: 100%; }
.navbar-toggle { padding: 15px 15px; border: 0;
	&:hover { background-color: $secondayColor; }
	span { background-color: #004802; }
}
.navbar-brand { padding: 0; height: 68px; margin: 0 0 0 40%; }
.navbar-nav { padding: 0 12%; }
/*
  	----------------------------------------------
  	Home Page
  	----------------------------------------------
*/
//Slideshow
.slider-container { padding-top: 60px; @include pattern-background; @include container-shadow-inset; @include container-shadow; }
.slider { padding-left: 5px; padding-right: 5px; }
.flexslider { height: 500px;  margin-top: 45px; margin-bottom: 55px; border: 6px solid #fff; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05); -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05); box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05);
	.slides > li { position: relative; } 
	.slides img { height: 487px; }
} 
.flex-caption { position: absolute; left: 0; bottom: 20px; width: 95%; padding: 10px 20px; background: rgba(0, 0, 0, .7); font-size: 14px; line-height: 24px; color: #eaeaea; text-align: left; font-style: italic;
} 
.flex-direction-nav {
	a { width: 50px; height: 50px; padding-top: 9px; background: $secondayColor; color: #fff; text-shadow: none; @include flex-direction-nav-radius(75px);
		&:before { font-size: 24px; color: #fff; }
	}
}
.flex-control-paging {
	li {
		a { background-color: $secondayColor; } 
		a.flex-active { background-color: #fff; }
	} 
}
.flex-direction-nav {
	a {
		&:before { font-size: 26px; }
	}
	.flex-prev,
	.flex-next { text-align: center; }
}
//Home container
.home-container { @include pattern-content; @include container-shadow; }
.home-content { background-color: rgba(224,224,224,0.2); -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); box-shadow: 0px 0px 5px rgba(0,0,0,0.3); padding: 40px 20px 40px; z-index: 100; }
//Home title
.homepage-title { font-size: 24px; color: #002600; padding: 10px 0 10px; width: 40%; margin: 0 auto 20px;text-align: center; /* background-color: rgba(255,255,255,0.4); @include homepage-title-shadow; */
	background-image: url("../img/ribbon_test.png"); background-repeat: no-repeat; background-position: center center; background-size: cover;
}
//Welcome text
.welcome-text { padding: 0 0 40px; 
	p { font-size: 15px; color: $primaryColor; margin: 0; line-height: 1.7; letter-spacing: 0.4px; }
}
//Some of the Products
.sotp-items { padding: 0 0 40px; }
.product-items { font-family: $Comfortaa; height: 220px; margin-top: 10px; overflow: hidden; position: relative; text-align: center; @include background-image(url("../img/sotp_background.jpg")); @include product-items-box-shadow; border: solid 1px rgba(255, 255, 255, 1);
	img { height: 66%; width: 60%; margin: 35px auto 0; background-size: cover; @include product-items-img-animation; }
	.mask { height: 100%; width: 100%; position: absolute; overflow: hidden; top: 0; left: 0; @include product-items-filter(0); opacity: 0; background-color: rgba(219,127,8, 0.7); @include product-items-mask-animation; }
	h2 { font-family: $CherrySwash; color: #fff; position: relative; font-size: 17px; padding: 8px; background: rgba(0, 0, 0, 0.8); margin: 22px 0 0; @include product-items-h2-animation; opacity: 0; @include product-items-filter(0); }
	p { margin: 0; margin-bottom: 15px; font-family: $Comfortaa; font-style: italic; font-size: 0.9em; position: relative; 
	color: #fff; padding: 15px 5px 0; height: 100px; overflow: hidden; @include product-items-p-animation; @include product-items-filter(0); opacity: 0; line-height: 1.4; }
	a.info { font-family: $Comfortaa; font-size: 12px; margin: 0; text-decoration: none; padding: 8px 10px; background: #000; color: #fff; -webkit-box-shadow: 0 0 1px #000; -moz-box-shadow: 0 0 1px #000; box-shadow: 0 0 1px #000; @include product-items-filter(0);-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */ opacity: 0; @include product-items-a-info-animation; position: relative;
		&:hover { -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; @include transition-delay(0.2s); }
	}
	&:hover img { @include transform-img-on-hover; }
	&:hover .mask { @include product-items-filter(100); opacity: 1; }
	&:hover h2, p, a.info { @include product-items-filter(100); opacity: 1; @include product-items-hover-translateY; }
}
//Home sidebar
.home-sidebar-container { background-color: rgba(224,224,224,0.2); padding: 15px; margin-left: -28px; 
	ul { margin: 0; padding: 0; list-style-type: none;
		li { padding: 3px 10px 3px; text-align: center; 
			a { text-decoration: none; color: $primaryColor; @include animate ( all, 320ms ); border-bottom: solid 2px transparent;
				&:hover { color: $secondayColor; border-bottom: solid 2px $secondayColor; }
			}
		}
	}
	@include animate ( transform, 1s );
	&.sidebar-test { @include transform( translateX( 100% ) ); 
	}
}
.home-sidebar-title { font-size: 18px; color: #002600; padding: 10px 0 10px; width: 60%; margin: 20px auto 10px; text-align: center; background-color: rgba(255,255,255,0.4); @include homepage-title-shadow; } 
.calendar_wrap { margin: 20px 0 0; padding: 10px; text-align: center; line-height: 1.7; -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); box-shadow: 0 0 5px rgba(0,0,0,0.5); background-color: rgba(255,255,255,0.4); -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; }
#wp-calendar { width: 100%; font-size: 12px;
	caption { font-family: $CherrySwash; color: #000; font-size: 16px; text-align: center; padding: 0; margin: 0 auto; text-transform: capitalize; }
	thead { font-size: 12px; -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); box-shadow: 0 0 5px rgba(0,0,0,0.5); background-color: rgba(255,255,255, 0.6);
		th { text-align: center; }
	}
	tbody {
		tr { 
			td {  }
			td#today{ font-size: 18px; color: $secondayColor; text-decoration: underline; cursor: pointer; }
		}
	}
	tfoot { display: none; }
}
//Interesting facts
.interesting { padding: 0 0 20px; }
.interesting-list { margin-top: 10px;
	.tab-pane { overflow: hidden; }
	.interesting-text { font-family: $Comfortaa; float: left; width: 90%; font-size: 14px; line-height: 30px; font-style: italic; color: $primaryColor; }
	.nav-tabs { border: 0; text-align: right;
		li { float: none; display: inline-block; margin-left: 2px; margin-right: 2px; 
			a { width: 12px; height: 12px; padding: 0; background: $secondayColor; border: 0; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
				&:hover { border: 0; background: #fff; } 
			}
		}
		li.active {
			a { background: #fff; }
		}
	}
}
/*
  	----------------------------------------------
  	Footer
  	----------------------------------------------
*/
.fruitgarden-footer { @include pattern-background; @include container-shadow; }
.footer-links { margin: 30px 0 0;
	h3 { color: #004802; font-family: $CherrySwash; font-size: 18px; text-align: right; margin: 0; padding: 0;
		&:after { content: ":"; }
	}
	ul { margin: 0; padding: 0 0 10px;
		li { display: inline-block; padding-left: 3px;
			&:after { content: "|"; }
			a { font-size: 13px; text-decoration: none; color: #004802; @include animate(color, 320ms);
				&:hover { color: #ff7800; }
			}
		}
	}
}
.footer-contact-info { margin: 30px 0 30px;
	h3 { font-family: $CherrySwash; font-size: 20px; color: $primaryColor; text-align: left; margin: 0; padding: 0;
		&:after { content: ":"; } 
	}
	p { margin: 10px 0 0; color: $primaryColor;
		i { padding-right: 5px; color: $secondayColor; }
		span { padding-right: 5px; }
		a { font-size: 13px; text-decoration: none; color: $primaryColor; @include animate(color, 320ms);
			&:hover { color: $secondayColor; }
		}
	}

}
.footer-logo { height: 150px; margin: 20px 0 20px; position: relative;  }
.footer-img { height: 100%; background-position: center center; background-size: contain; background-repeat: no-repeat; }
.container-copyright-icons { padding: 0 20px 20px; margin: 0;
	p { margin-bottom: 0; color: $primaryColor; }
	i { font-size: 30px; }
	.footer-copyright { padding-top: 8px; text-align: left; 
		a { color: rgba(255, 120, 0, 1); @include animate(color, 320ms); padding-right: 5px; text-decoration: none;
			&:hover { color: $primaryColor; }
		}
	}
	.footer-icons { text-align: right;  
		a { color: $primaryColor; @include animate(color, 320ms); padding-right: 5px;
			&:hover { color: $secondayColor; }
		}
	}
}
/*
  	----------------------------------------------
  	Products Page
  	----------------------------------------------
*/
.products-container { padding: 20px 0 20px; @include pattern-content; @include container-shadow-inset; @include container-shadow; }
.products { margin: 10px 0 10px; text-align: center; background-color: #f7f7f7; border-bottom: solid 3px rgba(255, 120, 0, 0.8); @include animate( box-shadow, 0.5s );
	&:hover { -moz-box-shadow:inset 0 0 30px #cecece; -webkit-box-shadow:inset 0 0 30px #cecece; box-shadow:inset 0 0 30px rgba(0,72,2, 0.3); }
}
.product-title { border-bottom:solid 1px rgba( 0, 0, 0, 0.3 );
	a { font-family: $CherrySwash; font-size: 25px;  color: #004802; text-decoration: none; @include animate( color, 0.3s );
		&:hover { color: rgba(255, 120, 0, 1); }
	}
}
.thumbnail { background-color: transparent; height: 130px; margin: auto; border: none;
	img { height: 100%; width: 140px; }
}
.excerpt { height: 70px; overflow: hidden;
	p { font-family: $Comfortaa; letter-spacing: 0.6px; line-height: 1.5; font-size: 11px; padding: 5px 5px 0; margin: 0; }
}
.products-link-circle { margin: 2% auto 2%; width: 35px; height: 35px; background: #cecece; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;
	a { font-size: 25px; text-decoration: none; color: #004802; @include animate( color, 0.3s );
		&:hover { color: rgba(255, 120, 0, 1); }
	}
}
/*
  	----------------------------------------------
  	Single Product
  	----------------------------------------------
*/
.single-container { @include pattern-content; @include container-shadow; }
//Sidebar for products
.products-sidebar { background-color: rgba(229,239,229, 0.3); padding-bottom: 20px; margin-top: 63px;
	ul { margin: 0; padding: 0; list-style-type: none;
		li { padding: 3px 10px 3px; text-align: center; 
			a { text-decoration: none; color: $primaryColor; @include animate ( all, 320ms ); border-bottom: solid 2px transparent;
				&:hover { color: $secondayColor; border-bottom: solid 2px $secondayColor; }
			}
		}
	}
}
.product-sidebar-title { font-size: 18px; color: $primaryColor; padding: 8px 0 8px; width: 70%; margin: 10px auto 10px; text-align: center; background-color: rgba(255,255,255,0.3); @include homepage-title-shadow; }
.sidebar-logo { height: 121px; background-position: center center; background-size: contain; margin: auto; position: relative; background-repeat: no-repeat; margin: 20px 0 10px; }
//Content
.product-content { background-color: rgba(229,239,229, 0.5); margin-bottom: 2px; margin-top: 63px; padding-bottom: 20px;
	img { padding: 1px; border: solid 1px; background-color: rgba(255,255,255,0.3); @include homepage-title-shadow; }
	.wp-caption { background-color: rgba(255,255,255,0.3); @include homepage-title-shadow; padding: 0; display: block; max-width: 270px;
		p.wp-caption-text { font-size: 12px; font-style: italic; } 
		.alignleft { margin: 10px 10px 20px 0; }
		img { padding: 10px; border: 0; background-color: transparent; @include homepage-title-shadow( rgba(0,0,0,0), 0 0 0 ); }
	}
	.alignleft { margin: 5px 10px 0 0; }
	.alignright { margin: 5px 0 0 10px; }
	.size-medium { max-height: 200px; max-width: 220px; }
	p { font-size: 15px; color: $primaryColor; line-height: 1.6; margin: 0 0 10px; }
	h3 { color: $primaryColor; margin: 0; }
	hr { margin: 5px 0 5px; border: 1px solid; border-color: rgba(255,120,0,0.5); }
	table { border: solid 1px #ccc; font-size: 12px; width: 100%; text-align: center;
		th { text-align: center; font-size: 16px; padding: 5px; }
		td { padding: 3px; border: solid 1px #ccc; }
	}
}
.single-title { margin: 0; padding: 20px; text-align: center; 
	span { display: inline-block; position: relative; 
		&:before,
		&:after { content: ""; position: absolute; height: 13px; border-bottom: 1px solid rgba(255, 120, 0, 1); border-top: 1px solid rgba(255, 120, 0, 1); width: 50px; top: 12px; }
		&:before { right: 100%; margin-right: 15px; }
		&:after { left: 100%; margin-left: 15px; }
	}
}
//Thumbnail
.product-thumbnail { height: 250px; margin-top: 100px; 
	img { height: 100%; width: 100%; }
}
/*
  	----------------------------------------------
  	Tips Page
  	----------------------------------------------
*/
.tips-container { padding: 20px 0 20px; @include pattern-content; @include container-shadow-inset; @include container-shadow; }
.boxes { background-color: #000; }
.box-1 { @include tips-shape; background-color: #a5682a; 
	&:after { @include tips-shape-bottom; border-top: 25px solid #a5682a; }
}
.box-2 { @include tips-shape; background-color: #31b0d5; 
	&:after { @include tips-shape-bottom; border-top: 25px solid #31b0d5; }
}
.box-3 { @include tips-shape; background-color: #cc3636; 
	&:after { @include tips-shape-bottom; border-top: 25px solid #cc3636; }
}
.icon-1 { @include tips-icon; background-image: url( '../img/leafs.png' ); }
.icon-2 { @include tips-icon; background-image: url( '../img/wather-hose.png' ); }
.icon-3 { @include tips-icon; background-image: url( '../img/scissors.png' ); }
.tip { margin: 10px auto 10px; text-align: center;
	h2 { font-size: 30px; color: #004600; padding-top: 15px; }
	p { height: 101px; overflow: hidden; color: $primaryColor; }
	a {  
		&:hover {  }
	}
}
.btn1 { background: #a5682a; @include button;
		&:hover { background-color: #845321; color: #fff; } 
}
.btn2 { background: #31b0d5; @include button;
		&:hover { background-color: #269abc; color: #fff; }
}
.btn3 { background: #cc3636; @include button;
		&:hover { background-color: #a32b2b; color: #fff; }
}
/*
  	----------------------------------------------
  	Gallery Page
  	----------------------------------------------
*/
.gallery-container { padding: 20px 0 20px; @include pattern-content; @include container-shadow-inset; @include container-shadow; }
.fg-gallery { 
	img { float: left; width: 25%; height: auto; border: 2px solid #fff; -webkit-transition: -webkit-transform .15s ease; -moz-transition: -moz-transform .15s ease; -o-transition: -o-transform .15s ease; -ms-transition: -ms-transform .15s ease; transition: transform .15s ease; position: relative; 
		&:hover { -webkit-transform: scale(1.05); -moz-transform: scale(1.05); -o-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); z-index: 5; }
	} 
}
/*
  	----------------------------------------------
  	Contact Page
  	----------------------------------------------
*/
.contact-container { padding: 20px 0 20px; @include pattern-content; @include container-shadow-inset; @include container-shadow; } 
.fg-form-control {
	label { font-style: italic; }
}
.fg-form-body { padding-top: 35px; 
	h3 { color: $primaryColor; }
}
#contact-form { 
	label { color: #004802; padding: 0; }
	input { display: block; width: 100%; height: 34px; margin: 5px 0 5px; background-color: rgba(192,192,192, 0.1); padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #fff; border-radius: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;  border: 0; border-bottom: solid 2px #ddd; outline: 0; @include placeholder; @include animate(border-bottom, 320ms);
		&:hover, 
		&:focus { border-bottom: solid 2px rgba(255, 120, 0, 0.8); color: #fff; }
	}
	textarea { display: block; width: 100%; height: 100px; margin: 5px 0 5px; background-color: rgba(192,192,192, 0.1); padding: 7px 12px; font-size: 14px; line-height: 1.42857143; color: #fff; border-radius: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;  border: 0; border-bottom: solid 2px #ddd; outline: 0; @include placeholder; @include animate(border-bottom, 320ms);
		&:hover,
		&:focus { border-bottom: solid 2px rgba(255, 120, 0, 0.8); color: #fff; }
	}
	.help-block{ color: #cc1414; margin-bottom: 0; }
	button.btn { height: 30px; margin: 10px 0; padding: 0 40px;  vertical-align: middle; background: #004802; border: 0; border-radius: 0; font-size: 14px;  font-weight: 400; line-height: 30px; color: #fff; text-shadow: none; float: right; @include animate(background-color, 320ms);
		&:hover { background-color: #ff7800; }
	}
}
#success { color: #004802; font-size: 26px; }
#error { color: #cc1414; font-size: 26px; }
.contact-information { color: #004802; line-height: 22px; letter-spacing: 1px;
	#googleMap { height:300px; border: 5px solid #fff; @include product-items-box-shadow; }
	i { padding-right: 5px; color: rgba(255, 120, 0, 1); }
}
/*
  	----------------------------------------------
  	Media Queries
  	----------------------------------------------
*/
@include large-desktops;
@include tablets-medium-desktops;
@include tablets-small-desktops;
@include landscape-phones-portrait-tablets;
@include phones-and-smaller;

.invisible {
    display: none;
    visibility: visible;
}
.gototop { overflow: hidden; cursor: pointer; display: none; -webkit-animation: hide 350ms ease-out forwards 1; -moz-animation: hide 350ms ease-out forwards 1; animation: hide 350ms ease-out forwards 1; padding: 14px 20px; border: none; text-align: center; background-color:#333; color: #fff; position: fixed; bottom: 16px; right: 16px; -webkit-transition: background-color 100ms ease-in-out; -moz-transition: background-color 100ms ease-in-out; transition: background-color 100ms ease-in-out; z-index: 100; @include animate(all, 0.5s); 
	&:hover, { background-color: #b52624; }
	&:focus, 
	&:active { border: none; outline: 0; }
	&:active {
		&:after { padding: 0; margin: 0; opacity: 1; transition: 0s }
	}
	&:after { content: ""; background: #fff; display: block; position: absolute; padding-top: 95%;
    padding-left: 100%; margin-left: -20px !important; margin-top: -35px; opacity: 0; transition: all 0.8s; }

}
.isvisible { -webkit-animation: show 1s ease-out forwards 1; -moz-animation: show 1s ease-out forwards 1; animation: show 1s ease-out forwards 1; }

@include keyframes;