/*
  	----------------------------------------------
  	Media Queries
  	----------------------------------------------
*/
$very-large: 1920px;
$large-desktop: 1200px;
$landscape-tablets-medium-desktops: 992px;
$portrait-tablets-small-desktops: 768px;
$portrait-phones-smaller: 480px;

@mixin large-desktops {
	@media (min-width: #{$large-desktop}) {
		.fg-navbar {
			li { display: inline-block; }
		}
	}
}
@mixin tablets-medium-desktops {
  	@media (min-width: #{$landscape-tablets-medium-desktops}) and (max-width: #{$large-desktop - 1px}) {
    	.home-sidebar-container { padding: 15px; 
			ul {
				li { padding: 0 5px 5px; }
			}
		}
		.home-sidebar-title { font-size: 20px; width: 80%; margin-top: 10px; }
		.calendar_wrap { line-height: 1.5; }
    	.product-items { height: 200px;
			img { width: 65%; height: 60%; margin: 40px auto 0; }
			h2 { margin: 15px 0 0; }
			p { font-size: 11px; margin-bottom: 10px; padding: 10px 10px 10px; height: 103px; }
			a { margin: 0; font-size: 10px; }
		}
		.fg-navbar {
			li { display: inline-block; 
				a { font-size: 16px; }
			}
		}
  	}
}
@mixin tablets-small-desktops {
	@media (min-width: #{$portrait-tablets-small-desktops}) and (max-width: #{$landscape-tablets-medium-desktops - 1px}) {
		.homepage-title { width: 45%; }
		.home-sidebar-title { width: 70%; }
		.product-items { margin-top: 20px; height: 200px;
			h2 { margin-top: 15px; }
			img { width: 65%; height: 70%; margin: 35px auto 0; }
			p { font-size: 11px; padding: 10px 10px 10px; height: 98px; }
			a { padding: 15px; }
		}
		.calendar_wrap { padding: 5px; line-height: 1.7; }
		.fg-navbar {
			li { display: inline-block; 
				a { font-size: 14px; }
			}
		}
		.navbar-nav { padding: 0; }
		.fg-form-body {
			h3 { text-align: center; }
		}
		.footer-contact-info { text-align: center; 
			h3 { text-align: center; }
		}
		.container-copyright-icons { padding-top: 0; }
		.footer-logo { margin: 0; }
		.flexslider { height: 350px;
			.slides {
				img { height: 337px; }
			}
		}
		.sidebar { display: none; }
		.navbar-brand { margin-left: 34%; }
		.sidebar-title{ width: 90%; }
		.sidebar-logo { height: 90px; }
		.product-content { 
			h3 { font-size: 18px; } 
		}
		.fg-gallery { 
			img { width: 33%; }
		}
	}
}
@mixin landscape-phones-portrait-tablets {
	@media (max-width: #{$portrait-tablets-small-desktops - 1px}) {
		.homepage-title { width: 60%; }
		.product-items { width: 70%; margin: 20px auto 0; height: 270px;
			img { width: 50%; height: 75%; margin: 25px auto 0; }
			h2 { font-size: 20px; padding: 10px; }
			p { font-size: 14px; padding: 20px 20px 10px; height: 130px; } 
			a.info { font-size: 14px; padding: 12px 20px; }
		}
		.flex-direction-nav { 
			a { top: 30px; width: 30px; height: 30px; padding-top: 7px; 
				&:before { font-size: 18px; }
			}
		}
		.flex-caption { width: 100%; bottom: 0; }
		.flex-direction-nav { 
			a { padding-top: 5px; } 
		}
		.fg-form-body {
			h3 { text-align: center; }
		}
		.navbar-brand { padding: 5px 15px; }
		.interesting-text { text-align: center; }
		.interesting-list { 
			.nav-tabs { text-align: center; }
		}
		.footer-contact-info { text-align: center; margin: 10px;
			h3 { text-align: center; }
		}
		.footer-logo { margin: 0; }
		.footer-links {  
			h3 { font-size: 22px; text-align: center; padding-bottom: 10px; }
			ul { text-align: center; }
		}
		.footer-copyright { padding-bottom: 10px; }
		.container-copyright-icons { padding: 10px;
			.footer-copyright { text-align: center; }
			.footer-icons { text-align: center; }
		}
		.products { margin: 0 auto 20px; width: 70%; }
		.flexslider { height: 350px;
			.slides {
				img { height: 337px; }
			}
		}
		.fg-title { font-size: 25px; }
		.sidebar { display: none; }
		.navbar-brand { margin: -2px 0 -6px 2%; padding: 10px; }
		.navbar-nav { padding: 0; }
		.home-sidebar-container { display: none; }
		.products-sidebar { display: none; }
		.fg-gallery { 
			img { width: 50%; }
		}
	}
}
@mixin phones-and-smaller {
	@media (max-width: #{$portrait-phones-smaller}) {
		.home-content { margin: 0 -15px; }
		.homepage-title { width: 80%; font-size: 20px; }
		.product-items{ width: 100%; margin-top: 10px; height: 250px;
			img { width: 55%; height: 75%; }
			p { padding: 10px 20px 10px; height: 120px; } 
		}
		.fg-form-body {
			h3 { text-align: center; }
		}
		.interesting-text { text-align: center; }
		.interesting-list { 
			.nav-tabs { text-align: center; }
		}
		.footer-copyright { padding-bottom: 10px;
		}
		.container-copyright-icons { padding: 10px;
			.footer-copyright { text-align: center; }
			.footer-icons { text-align: center; }
		}
		.products { margin: 0 auto 20px; width: 100%; }
		.single-title { font-size: 30px;
			span { 
				&:before,
				&:after { width: 25px; top: 11px; margin: 0 10px 0; }
			}
		}
		.product-content {
			.wp-caption { height: 220px; min-width: 100%;
				img { height: 90%; width: 63%; }
			}
			h3, h2 { font-size: 18px; text-align: center; margin-top: 20px; }
			.alignleft { margin: 5px 0 10px; }
			.alignright { margin: 5px 0 10px; }
			.size-medium { max-width: 100%; width: 400px; max-height: 220px; }
			.size-full { max-width: 100%; width: 400px; max-height: 250px; }
			table {
				th { padding: 0 1px 0; font-size: 9px; }
				tr {
					td { padding: 1px 0 1px; font-size: 7px; }
				}
			}
			ul { padding-left: 20px;
				li { font-style: italic; }
			}
		}
		.flexslider { height: 250px;
			.slides {
				img { height: 237px; }
			}
		} 
		.header-container {
			.logo { width: 35%; }
		}
		.fg-title { font-size: 25px; }
		.sidebar { display: none; }
		.navbar-brand { margin: -2px 0 -6px 2%; padding: 10px; }
		.navbar-nav { padding: 0; }
		.home-sidebar-container { display: none; }
		.products-sidebar { display: none; }
		.fg-gallery { 
			img { width: 50%; }
		}
	}
}