/*
    ------------------------------------------------
	Mixins
	------------------------------------------------
*/

//Shadows
@mixin container-shadow-inset {
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset; 
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset; 
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset, 0 -5px 15px 0 rgba(0,0,0,.05) inset;
}
@mixin container-shadow {
    -moz-box-shadow:inset 0 -1px 2px #454141; 
    -webkit-box-shadow:inset 0 -1px 2px #454141; 
    box-shadow:inset 0 -1px 2px #454141;
}
//Background
@mixin pattern-background {
    background: {
        repeat: repeat;
        position: left top;
        image: url("../img/pattern.png");
    }
}
@mixin pattern-content {
    background: {
        repeat: repeat;
        position: left top;
        image: url("../img/content-pattern.png");
    }
}
@mixin homepage-title-shadow ( $color: rgba(0,0,0,0.5), $shadow: 0 0 5px ) {
    -moz-box-shadow: $shadow $color;
    -webkit-box-shadow: $shadow $color; 
    box-shadow: $shadow $color; 
}
@mixin single-pattern-background {
    background: {
        repeat: repeat;
        position: left top;
        image: url("../img/single-pattern.png");
    }
}
@mixin background-image ( $img: url("../img/background_image.jpg") ) {
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
        image: $img;
    }
}
@mixin product-items-filter ( $attr ) {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity="$attr")";  
    filter: alpha(opacity=$attr);
}
@mixin product-items-img-animation {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
@mixin product-items-mask-animation {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
@mixin product-items-h2-animation {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
@mixin product-items-p-animation {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
@mixin transform-img-on-hover {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
@mixin product-items-a-info-animation {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
@mixin product-items-hover-translateY {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
@mixin transition-delay ($attr) {
    -webkit-transition-delay: $attr;
    -moz-transition-delay: $attr;
    -o-transition-delay: $attr;
    -ms-transition-delay: $attr;
    transition-delay: $attr;
}
@mixin button {
    padding: 3px 25px;
    border: 0; 
    border-radius: 0; 
    font-size: 14px; 
    line-height: 30px; 
    color: #fff; 
    text-shadow: none; 
    @include animate(background-color, 320ms);
}
@mixin animate ( $attr, $time ) {
    -webkit-transition: $attr $time ease-in-out;
    -moz-transition: $attr $time ease-in-out;
    -ms-transition: $attr $time ease-in-out;
    -o-transition: $attr $time ease-in-out;
    transition: $attr $time ease-in-out;
}
@mixin welcome-container-background-image {
	background: {
		position: center center;
        attachment: fixed;
		repeat: no-repeat;
		size: cover;
		image: url("../img/homepage-background-image.jpg");
	}
}

@mixin products-container-background-image {
    background: {
        attachment: fixed;
        position: center center;
        repeat: no-repeat;
        size: cover;
        image: url("../img/homepage-background-image.jpg");
    }
}
@mixin flex-direction-nav-radius ($val: 75px) {
    -moz-border-radius-topleft: $val;
    -moz-border-radius-topright:$val;
    -moz-border-radius-bottomleft:$val;
    -moz-border-radius-bottomright:$val;
    -webkit-border-top-left-radius:$val;
    -webkit-border-top-right-radius:$val;
    -webkit-border-bottom-left-radius:$val;
    -webkit-border-bottom-right-radius:$val;
    border-top-left-radius:$val;
    border-top-right-radius:$val;
    border-bottom-left-radius:$val;
    border-bottom-right-radius:$val;
}
@mixin product-items-box-shadow ( $color: rgba(0,0,0,0.5), $shadow: 0 0 5px ) {
    -moz-box-shadow: $shadow $color;
    -webkit-box-shadow: $shadow $color; 
    box-shadow: $shadow $color; 
}
@mixin product-items-border-radius {
	border:solid 3px #77a37a;
}
@mixin item-img ( $attr, $time ) {
    -webkit-transition: $attr $time linear;
    -moz-transition: $attr $time linear;
    -ms-transition: $attr $time linear;
    -o-transition: $attr $time linear;
    transition: $attr $time linear;
}
@mixin products-list-container-radius {
	-moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:75px;
}
@mixin products-list-thumbnail-radius {
	-moz-border-radius-topleft: 71px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:71px;
    -webkit-border-top-left-radius:71px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:71px;
    border-top-left-radius:71px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:71px;
}
/*
    ----------------------------------------------
    Tips Page
    ----------------------------------------------
*/
@mixin tips-shape {
    height: 150px; 
    width: 200px;
    position: relative; 
    margin: 0 auto; 
    border:hidden 8px #000000; 
    border-top-left-radius:15px; 
    border-top-right-radius:15px; 
    border-bottom-left-radius:0; 
    border-bottom-right-radius:0;
}
@mixin tips-shape-bottom {
    content: ""; 
    position: absolute; 
    bottom: -25px; 
    left: 0; 
    width: 0; 
    height: 0;
    border: {
        left: 100px solid transparent;
        right: 100px solid transparent;
    }
}
@mixin tips-icon {
    height: 100px;
    margin-top: 30px;
    background: {
        size: contain;
        repeat: no-repeat;
        position: center center;
    }
}
/*
    ----------------------------------------------
    Gallery Page
    ----------------------------------------------
*/
@mixin fg-picture-border {
    border: solid 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05), 0 -5px 15px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05), 0 -5px 15px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05), 0 -5px 15px 0 rgba(0, 0, 0, 0.05);
}

@mixin placeholder {
    &::-moz-placeholder { font-style: italic; color: #1c4d0a; }
    &::-webkit-input-placeholder { font-style: italic; color: #1c4d0a; }
    &:-ms-input-placeholder { font-style: italic; color: #1c4d0a; }
}
@mixin keyframes {
    @-webkit-keyframes hide{
  0% {
    opacity: 1;
    -webkit-transform:translateY(0);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 0;
    -webkit-transform:translateY(100px);
  }
}
@-moz-keyframes hide{
  0% {
    opacity: 1;
    -webkit-transform:translateY(0);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 0;
    -webkit-transform:translateY(100px);
  }
}
@keyframes hide{
  0% {
    opacity: 1;
    transform:translateY(0);
  }
  25%{
    opacity: .5;
    transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    transform: rotate(3deg);
  }
  100%{
    opacity: 0;
    transform:translateY(100px);
  }
}
@-webkit-keyframes show{
  0% {
    -webkit-transform: rotate(0deg);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes show{
  0% {
    -webkit-transform: rotate(0deg);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}
@keyframes show{
  0% {
    transform: rotate(0deg);
  }
  25%{
    opacity: .5;
    transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    transform: rotate(3deg);
  }
  100%{
    opacity: 1;
    transform: rotate(0deg);
  }
}
}
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}