/*
  	----------------------------------------------
  	Variabiles
 	----------------------------------------------
*/
$Comfortaa : 'Comfortaa', 'sans-serif';
$CherrySwash : 'Cherry Swash', 'sans-serif';
$primaryColor : #004600;
$secondayColor : rgba(255, 120, 0, 0.8);
